.coinFilter {
    display: block;
    width: 500px;
    margin: 10px auto 20px;
}

.coinData-table {
    border-collapse: collapse;
    width: 500px;
    margin: 20px auto;
}
.coinData-table tr td {
    border: 1px solid black;
    padding: 5px;
 }
 .rowTitle {
     font-weight: bold;
 }